:root {
  --font-body: "Source Sans 3", sans-serif;
  --font-logo-text: "Roboto", sans-serif;
  --clr-logo-text: #0e0e0e;
  --clr-nav-link: #090909;
  --clr-white: #fff;
  --outside-spacing: 4%;
  --post-img-height: 232px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Utility  */
.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

/* Nav  */
.nav-list {
  list-style-type: none;
  justify-content: end;
  margin: 1.5em var(--outside-spacing);
  gap: 3.88em;
}

.nav-logo__li {
  margin-right: auto;
}

.nav-logo__link {
  gap: 0.29em;
}

.nav-logo__icon {
  width: 2.14em;
}

.nav-logo__wordmark {
  font-family: var(--font-logo-text);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.082;
  letter-spacing: -0.601px;
  color: var(--clr-logo-text);
}

.nav-link {
  color: var(--clr-nav-link);
  font-weight: 600;
  text-transform: uppercase;
}

/* Posts  */
.posts-section {
  display: grid;
  grid-template: 1.5fr 1fr / repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.625em;
}

.post-img {
  height: var(--post-img-height);
  width: 100%;
  object-fit: cover;
}

.post-date {
  text-transform: uppercase;
}

.post-title {
  font-size: 2.5rem;
  line-height: 1.082;
  letter-spacing: -1.2px;
}

/* Hero Post  */
.hero-post {
  grid-column: 1 / -1;
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-template-areas:
    ". . ."
    "content content .";
  color: var(--clr-white);
  padding: 0 var(--outside-spacing);
  position: relative;
}

.hero-post__content {
  grid-area: content;
  z-index: 1;
}

.hero-post__img,
.hero-post__img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-post__img {
  z-index: -1;
}

.hero-post__img-overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.31) 0%,
    rgba(0, 0, 0, 0.31) 100%
  );
}
