:root {
  --font-body: "Source Sans 3", sans-serif;
  --font-logo-text: "Roboto", sans-serif;
  --clr-logo-text: hsl(0, 0%, 5%);
  --clr-nav-link: hsl(0, 0%, 4%);
  --clr-post-img-overlay: hsla(0, 0%, 83%, 0.2);
  --clr-post-title: hsl(0, 0%, 8%);
  --clr-post-preview: hsl(0, 0%, 31%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-bg: hsl(0, 0%, 98%);
  --clr-footer-text: hsl(0, 0%, 93%);
  --clr-footer-bg: hsl(0, 0%, 13%);
  --outside-spacing: 4%;
  --nav-spacing: 4%;
  --section-spacing: 3.31em;
  --post-img-height: 232px;
  --radius-soft: 3px;
  font-size: 17px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-bg);
}

body,
button {
  font-family: var(--font-body);
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

img {
  object-fit: cover;
}

/* Buttons  */
.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn--ham-menu {
  padding: 0.5em;
}

/* Icons  */
i {
  pointer-events: none;
}

.fa-solid {
  color: var(--clr-nav-link);
  font-size: 1.25rem;
}

.fa-xmark {
  text-align: right;
  color: var(--clr-white);
}

/* Utility  */
.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex--column {
  flex-flow: column;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* Nav  */

.nav-list {
  justify-content: end;
  padding: 1.5em var(--nav-spacing);
  gap: 3.88em;
  background: var(--clr-white);
}

.nav-logo__li {
  margin-right: auto;
}

.nav-logo__link {
  gap: 0.29em;
}

.nav-logo__icon {
  width: 2.14em;
}

.nav-logo__wordmark {
  font-family: var(--font-logo-text);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.082;
  letter-spacing: -0.601px;
  color: var(--clr-logo-text);
}

.nav-link {
  color: var(--clr-nav-link);
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
}

/* Nav Menu  */
.nav-menu {
  background: var(--clr-footer-bg);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  z-index: 999;
  gap: 2em;
}

.nav-menu a,
.nav-menu button {
  width: 100%;
  color: var(--clr-white);
}

.nav-menu .btn--ham-menu {
  text-align: right;
  padding: 1em;
}

/* Posts Section */
.posts-container {
  grid-template: auto / var(--outside-spacing) 1fr var(--outside-spacing);
  grid-template-areas:
    "hero hero hero"
    ". posts .";
}

.post-img__container {
  position: relative;
  height: var(--post-img-height);
}

.post-img {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-soft);
}

.post-img__overlay {
  background: var(--clr-post-img-overlay);
}

.post-date {
  text-transform: uppercase;
  font-size: 0.88rem;
}

.post-title {
  font-size: 1.5rem;
  line-height: 1.082;
  letter-spacing: -1.2px;
  color: var(--clr-post-title);
}

.post-preview {
  color: var(--clr-post-preview);
  line-height: 1.25;
}

/* Hero Post  */
.hero-post {
  grid-area: hero;
  padding: 0 var(--outside-spacing);
  color: var(--clr-white);
  position: relative;
}

.post-date--hero {
  font-size: 1rem;
}

.post-title--hero {
  font-size: 2.5rem;
}

.post-title--hero,
.post-preview--hero {
  color: var(--clr-white);
}

.hero-post__content {
  max-width: 600px;
  padding: 13vh 0;
  gap: 0.5em;
}

.hero-post__img,
.hero-post__img-overlay,
.post-img__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-post__img {
  z-index: -2;
  object-position: 50% 70%;
}

.hero-post__img-overlay {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0))
    55%;
  z-index: -1;
}

/* Additional Posts  */
.additional-posts {
  grid-area: posts;
  padding: var(--section-spacing) 0;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2.88em 1.6em;
}

.post__container {
  gap: 0.88em;
}

.post-details {
  gap: 0.5em;
}

.view-more-btn {
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  display: block;
  margin: 0 auto 3.19em;
}

/* Footer  */
.footer {
  background: var(--clr-footer-bg);
  text-align: center;
  padding: 2.3em 0;
  color: var(--clr-footer-text);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.082;
  letter-spacing: -0.36px;
}

@media (min-width: 1000px) {
  :root {
    --outside-spacing: 15%;
    --nav-spacing: 3.31em;
  }
  .hero-post__content {
    padding: 13vw 0;
  }
  .ham-btn-li,
  .nav-menu {
    display: none;
  }
  .nav-li {
    display: block;
  }
}
