:root {
  --font-body: "Source Sans 3", sans-serif;
  --font-logo-text: "Roboto", sans-serif;
  --clr-logo-text: #0e0e0e;
  --clr-nav-link: #090909;
  --clr-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Utility  */
.flex {
  display: flex;
}

.flex--align-center {
  align-items: center;
}

.flex-column {
  flex-flow: column;
}

/* Layout  */
.grid {
  display: grid;
  grid-template: auto / 3.31em 1fr 3.31em;
  grid-template-areas:
    ". header ."
    "main main main";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

/* Nav  */
.nav-list {
  list-style-type: none;
  justify-content: end;
  margin: 1.5em 0 1.5em;
}

.nav-logo {
  margin-right: auto;
}

.nav-logo__link {
  gap: 0.29em;
}

.nav-logo__img {
  width: 2.14em;
}

.nav-logo__text {
  font-family: var(--font-logo-text);
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.082;
  letter-spacing: -0.601px;
  color: var(--clr-logo-text);
}

.nav-link {
  color: var(--clr-nav-link);
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 3.88em;
}

/* Posts  */
.posts-section {
  display: grid;
  grid-template: auto / 3.88em repeat(fit-content, minmax(309px, 1fr));
}

.post-date {
  text-transform: uppercase;
}

.post-title {
  font-size: 2.5rem;
  line-height: 1.082;
  letter-spacing: -1.2px;
}

/* Hero Post  */
.hero-post {
  background: url("../assets/images/blog-image-hero.png");
  color: var(--clr-white);
  padding: 0 3.31em 0;
}
